/*$outlineColor: rgb(0, 183, 255);
$contentColor: rgb(0, 183, 255);;

.form-check {
  border: 1px solid $outlineColor;
  border-radius: 5px;
  
    .form-check-label{
        color: $contentColor;
    }

    .form-check-input{
        position: relative;
    }
   
}*/